Flask
io
time
gzip
pandas
os
requests==2.26.0
numpy
pmdarima
statsmodels
matplotlib
pickle
tensorflow
nltk==3.5
keras
seaborn==0.11.1
tweepy
textblob==0.15.3
streamlit==0.52.1
scikit_learn
yfinance
alpha_vantage==2.3.1
gunicorn
